{%  extends "base.html" %}
{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">
<link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" >
{% endblock css %}
{% block title %}{{title}}{% endblock title %}
{% block content %}
<div class="page-content page-container container" id="page-content">
    <div class="padding">
        <div class="row container d-flex justify-content-center">
            <div class="col-xl-12 col-md-12">
                <div class="card user-card-full">
                    <div class="row m-l-0 m-r-0">
                        <div class="col-sm-4 bg-c-lite-green user-profile">
                            <div class="card-block text-center text-white">
                                <div class="m-b-25"> <img src="{{url_for('static', filename=user.avatar)}}" class="img-radius img-avatar" alt="User-Profile-Image"> </div>
                                <h4 class="f-w-600">{{ user['displayname'] or user['username'] }}</h4>
                                <p>Web Designer</p>
                                {% if current_user.username == user['username'] %}
                                    <button type="button" data-toggle="modal" data-target="#myModalEdit" class="tg-btn btn btn-info">Chỉnh sửa</button>
                                    <a type="button" href="{{ url_for('auth.logout') }}" class="btn btn-danger">Đăng xuất</a>
                                {% else %}
                                    {% if not frship %}
                                        {% if current_user.is_authenticated %}
                                            <button id="send_request_btn" type="button" onclick="sendFriendRequest('{{ user['username'] }}')" class="btn btn-success">Kết bạn</button>
                                        {% else %}
                                            <a type="button" href="{{ url_for('auth.login') }}" class="btn btn-success">Kết bạn</a>
                                        {% endif %}
                                    {% elif frship.status.lower() == 'accepted' %}
                                        <button type="button" class="btn btn-success">Bạn bè</button>
                                        <button type="button" class="btn btn-primary">Nhắn tin</button>
                                    {% elif frship.sender_id == current_user._id %}
                                        <button type="button" class="btn btn-success">Đang chờ phản hồi</button>
                                    {% elif frship.sender_id == user['_id'] %}
                                        <button type="button" class="btn btn-success">Chấp nhận kết bạn</button>
                                    {% endif %}
                                {% endif %}
                                <div class="social-buttons mt-5"> <button class="neo-button"><i class="fa fa-facebook fa-1x"></i> </button> <button class="neo-button"><i class="fa fa-linkedin fa-1x"></i></button> <button class="neo-button"><i class="fa fa-google fa-1x"></i> </button> <button class="neo-button"><i class="fa fa-youtube fa-1x"></i> </button> <button class="neo-button"><i class="fa fa-twitter fa-1x"></i> </button> </div>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="card-block">
                                <h6 class="m-b-20 p-b-5 b-b-default f-w-600">Thông tin cá nhân</h6>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <p class="m-b-10 f-w-600">Email</p>
                                        <h6 class="text-muted f-w-400">{{ user['email'] }}</h6>
                                    </div>
                                    <div class="col-sm-6">
                                        <p class="m-b-10 f-w-600">Số điện thoại</p>
                                        <h6 class="text-muted f-w-400">{{ user['phone'] }}</h6>
                                    </div>
                                </div>
                                <h6 class="m-b-20 m-t-40 p-b-5 b-b-default f-w-600">Thông tin khác</h6>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <p class="m-b-10 f-w-600">Giới tính</p>
                                        <h6 class="text-muted f-w-400">
                                            {% if user.gender == 1 %}
                                            Nam
                                            {% elif user.gender == 2 %}
                                            Nữ
                                            {% elif user.gender == 0 %}
                                            Khác
                                            {% else %}
                                            Chưa đặt
                                            {% endif %}
                                        </h6>
                                    </div>
                                    <div class="col-sm-4">
                                        <p class="m-b-10 f-w-600">Ngày sinh</p>
                                        <h6 class="text-muted f-w-400">{{ user.dob }}</h6>
                                    </div>
                                    <div class="col-sm-4">
                                        <p class="m-b-10 f-w-600">Địa chỉ</p>
                                        <h6 class="text-muted f-w-400">{{ user.address }}</h6>
                                    </div>
                                </div>
                                <!-- <div class="card-footer bg-white px-0 "> --><br>
                                    <h6 class="m-b-20 p-b-5 b-b-default f-w-600">Bạn bè</h6>
                                    <div class="row">
                                        
                                        {% if current_user.username == user['username'] %}
                                            <div class="col-md-auto">
                                                <button type="button" data-toggle="modal" data-target="#myModalFriendRequest" class="btn btn-outline-primary">
                                                    Xem lời mời kết bạn <span class="badge badge-danger" id="pending_request_count">{{ pending }}</span>
                                                </button>
                                            </div>
                                        {% endif %}
                                        <div class="col-md-auto ">
                                            <ul class="list-inline">
                                                <li class="list-inline-item"> 
                                                    <img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1573035860/Pra/Hadie-profile-pic-circle-1.png" alt="DP" class=" rounded-circle img-fluid " width="35" height="35"> 
                                                    <img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1573035909/Pra/Loren-profile-pic-circle.png" alt="DP" class=" rounded-circle img-fluid " width="35" height="35"> 
                                                    <img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1573035929/Pra/59d280613165c000014cc031_circleniamhhogan.png" alt="DP" class=" rounded-circle img-fluid " width="35" height="35"> <img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1573035929/Pra/59d280613165c000014cc031_circleniamhhogan.png" alt="DP" class=" rounded-circle img-fluid " width="35" height="35">
                                                </li>
                                                <li class="list-inline-item"> 
                                                    <button class="btn" type="button" data-toggle="modal" data-target="#myModalFriendList"><img src="https://img.icons8.com/metro/26/000000/more.png" width="20" height="20" class="mr-2 more"><small>MORE</small></i></button> 
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                <!-- </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% if current_user.username == user['username'] %}
<!-- MODAL EDIT -->
<div class="modal" id="myModalEdit">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h2 class="modal-title">Cập nhật thông tin</h2>
          <button type="button" class="close" data-dismiss="modal">×</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
          <form action="" method="POST" enctype="multipart/form-data">
            {{ form.csrf_token }}
            <div class="form-group">
                {{ form.displayname.label(class="form-control-label") }}
                {{ form.displayname(class="form-control", placeholder="Nhập họ và tên", value=user.displayname or Blank) }}
                {% for error in form.errors['displayname'] %}
                    <div class="alert alert-danger">
                        {{error}}
                    </div>
                {% endfor %}
            </div>
            <div class="form-group">
                {{ form.picture.label(class="form-control-label") }}
                {{ form.picture(class="form-control-file", id="exampleFormControlFile1", accept="image/*") }}
                {% for error in form.errors['picture'] %}
                    <div class="alert alert-danger">
                        {{error}}
                    </div>
                {% endfor %}
            </div>
            <div class="form-group">
                {{ form.email.label(class="form-control-label") }}
                {{ form.email(class="form-control", placeholder="Nhập email", value=user.email or Blank, readonly=True if user.email else False) }}
                {% for error in form.errors['email'] %}
                    <div class="alert alert-danger">
                        {{error}}
                    </div>
                {% endfor %}
            </div>
            <div class="form-group">
                {{ form.phone.label(class="form-control-label") }}
                {{ form.phone(class="form-control", placeholder="Nhập số điện thoại", value=user.phone or Blank) }}
                {% for error in form.errors['phone'] %}
                    <div class="alert alert-danger">
                        {{error}}
                    </div>
                {% endfor %}
            </div>
            <div class="form-group">
                {{ form.gender.label(class="form-control-label") }}
                <div class="form-check-inline">
                  <label class="form-check-label">
                    <input value="1" type="radio" class="form-check-input gender-input" name="gender">Nam
                  </label>
                </div>
                <div class="form-check-inline">
                  <label class="form-check-label">
                    <input value="2" type="radio" class="form-check-input gender-input" name="gender">Nữ
                  </label>
                </div>
                <div class="form-check-inline">
                  <label class="form-check-label">
                    <input value="0" type="radio" class="form-check-input gender-input" name="gender">Khác
                  </label>
                </div>
                {% for error in form.errors['gender'] %}
                    <div class="alert alert-danger">
                        {{error}}
                    </div>
                {% endfor %}
            </div>
            <div class="form-group">
                {{ form.dob.label(class="form-control-label") }}
                {{ form.dob(id="datepicker", width="276", value=user.dob or Blank) }}
                {% for error in form.errors['dob'] %}
                    <div class="alert alert-danger">
                        {{error}}
                    </div>
                {% endfor %}
            </div>
            <div class="form-group">
                {{ form.address.label(class="form-control-label") }}
                {{ form.address(class="form-control", placeholder="Nhập địa chỉ", value=user.address or Blank) }}
                {% for error in form.errors['address'] %}
                    <div class="alert alert-danger">
                        {{error}}
                    </div>
                {% endfor %}
            </div>
            {{ form.submit(class="btn btn-primary") }}
          </form>
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
        </div>
        
      </div>
    </div>
</div>

<!-- MODAL friend request -->
<div class="modal" id="myModalFriendRequest">
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h2 class="modal-title">Lời mời kết bạn</h2>
          <button type="button" class="close" data-dismiss="modal">×</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
            <div id="friend_request_spinner" class="d-flex justify-content-center">
                <div class="spinner-border" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
            </div>
            <div id="friend_request">
            </div>
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <a type="button" onclick='$("#myModalEdit").hide();' class="btn btn-danger" data-dismiss="modal">Đóng</a>
        </div>
        
      </div>
    </div>
</div>
{% endif %}
<!-- MODAL friend list -->
<div class="modal" id="myModalFriendList">
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h2 class="modal-title">Danh sách bạn bè</h2>
          <button type="button" class="close" data-dismiss="modal">×</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body" style="background: #e5e5e5;">
            
            <div id="friend_list_spinner" class="d-flex justify-content-center">
                <div class="spinner-border" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
            </div>
            <div class="content">
                <div class="container">
                    <!-- end row -->
                    
                    <div id="friend_item" class="col-lg-4 card d-none" style="background: white; border-radius: 10px;">
                        <div class="text-center">
                            <div class="member-card pt-2 pb-2">
                                <div class="thumb-lg member-thumb mx-auto"><img id="avatar_friend" src="https://bootdey.com/img/Content/avatar/avatar2.png" class="rounded-circle img-thumbnail" alt="profile-image"></div>
                                <div class="">
                                    <h4 id="name_friend" class="name-design">Phạm Đức Trung</a></h4>
                                    <p id="email_friend" class="email-design text-muted">pdtrung@gmail.com</p>
                                    <span><a id="link_friend" href="#" class="text-pink">Trang cá nhân</a></span>
                                </div>
                                <ul class="social-links list-inline mt-2">
                                    <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Facebook"><i class="fa fa-facebook"></i></a></li>
                                    <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Twitter"><i class="fa fa-twitter"></i></a></li>
                                    <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Skype"><i class="fa fa-skype"></i></a></li>
                                </ul>
                                <button type="button" class="btn btn-primary btn-rounded waves-effect w-md waves-light"><i class='fab fa-facebook-messenger'></i></button></button>
                                <button type="button" class="btn btn-danger btn-rounded waves-effect w-md waves-light"><i class="fa fa-user-times"></i></button>
                            </div>
                        </div>  
                    </div>
                    <div id="friend_list" class="row">
                        <!-- end col -->
                    </div>
                </div>
                <!-- container -->
            </div>
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
        </div>
        
      </div>
    </div>
</div>
{% endblock content %}
{% block js %}
    <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
    <script>
        $('#datepicker').datepicker({
            uiLibrary: 'bootstrap4'
        });
        $( document ).ready(function() {
            let gender = {{ user.gender }};

            $(".gender-input").each(function(i, obj){
                if(obj.value == gender)
                {
                    obj.checked = true;
                }
            });
            
            $('#myModalFriendRequest').on('shown.bs.modal', function (e) {
                $("#friend_request_spinner").removeClass('d-none');
                $("#friend_request_spinner").addClass('d-flex');
                $.ajax({
                    url:"{{ url_for('get_friend_request') }}",
                    method:"GET",
                    success:function(data){ 
                        $("#friend_request_spinner").addClass('d-none');
                        $("#friend_request_spinner").removeClass('d-flex');
                        if(data) {
                            $("#friend_request").empty();
                            $.each(JSON.parse(data), function(i, item) {
                                render_friendRequest(item);
                            });
                        }
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        console.log(xhr);
                    }
                });
            });
            $("#myModalFriendList").on('shown.bs.modal', function (e) {
                $("#friend_list_spinner").removeClass('d-none');
                $("#friend_list_spinner").addClass('d-flex');
                $.ajax({
                    url:"{{ url_for('get_friend_list') }}",
                    method:"GET",
                    success:function(data){ 
                        $("#friend_list_spinner").addClass('d-none');
                        $("#friend_list_spinner").removeClass('d-flex');
                        if(data) {
                            $("#friend_list").empty();
                            $.each(JSON.parse(data), function(i, item) {
                                render_friend(item);
                            });
                        }
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        console.log(xhr);
                    }
                });
            });
        });
        function render_friend(data) {

            var friend;
            if(data.sender[0]._id['$oid'] == current_user_id) {
                friend= data.receiver[0];
            } else {
                friend = data.sender[0];
            }

            var element = $("#friend_item").clone();
            $(element).removeClass("d-none");

            $(element).find("#name_friend").text(friend.displayname);
            $(element).find("#email_friend").text(friend.email);
            $(element).find("#link_friend").attr("href", "/profile/"+friend.username);
            $(element).find("#avatar_friend").attr("src", "/static/"+friend.avatar);

            $("#friend_list").append(element);
        }
        function render_friendRequest(data){
            var gender;
            if(data.sender.gender==1)
                gender= "Nam"
            else if(data.sender.gender==2)
                gender= "Nữ"
            else if(data.sender.gender==0)
                gender= "Khác"
            else gender= "Chưa đặt"

            var url = "/profile/"+data.sender.username

            var element = $('<div id='+ data._id['$oid'] +'></div>').addClass("card p-3");

            var div = $('<div></div>').addClass("d-flex align-items-center");

            var image = $('<img src="/static/'+data.sender.avatar+'" class="rounded" width="155">');
            var divImage = $('<a></a>')
                        .addClass("image")
                        .attr({"href": url})
                        .append(image);


            var divInfo = $('<div></div>').addClass("ml-3 w-100");

            divEvent = $('<div></div>').addClass("button mt-2 d-flex flex-row align-items-center");
            acceptButton = $('<button onclick="respond_request(this)" data-type="accept" data-id='+ data._id['$oid'] +' class="btn btn-sm btn-outline-success w-100">Đồng ý</button>');
            denyButton = $('<button onclick="respond_request(this)" data-type="deny" data-id='+ data._id['$oid'] +' class="btn btn-sm btn-danger w-100 ml-2">Hủy</button>');

            divEvent.append(acceptButton);
            divEvent.append(denyButton);

            divInfo.append($('<a class="text-decoration-none" href="'+url+'"><h4 class="mb-0 mt-0 text-dark">'+data.sender.name+'</h4></a> <span id="gender">'+gender+'</span>'));
            divInfo.append(divEvent);

            div.append(divImage);
            div.append(divInfo);
            element.append(div);

            $("#friend_request").append(element);
            
        }
        function sendFriendRequest(username){
            $.ajax({
                url:"{{ url_for('send_friend_request', username=user['username']) }}",
                method:"POST",
                success:function(data){ 
                    if(data) {
                        $("#send_request_btn").text("Đang chờ phản hồi")
                        Toast.fire({
                            icon: "success",
                            title: data
                        });
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    Toast.fire({
                        icon: "error",
                        title: xhr.responseText
                    });
                    console.log(xhr);
                }
            });
        }
        function respond_request(element){
            var request_id = $(element).data("id");
            var type = $(element).data("type");
            
            $.ajax({
                url:"{{ url_for('respond_friend_request') }}",
                method:"POST",
                data: {"request_id": request_id, "type": type},
                success:function(data){ 
                    if(data) {
                        $("#"+request_id).remove();
                        let count_pending = parseInt($("#pending_request_count").text());
                        if (count_pending>0) {
                            $("#pending_request_count").text(count_pending-1)
                        }
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    Toast.fire({
                        icon: "error",
                        title: xhr.responseText
                    });
                    console.log(xhr);
                }
            });
        }
    </script>
    
    {% if form.errors.items() %}
        <script>
            $("#myModalEdit").modal('show');
        </script>
    {% endif %}
    {% for category, message in get_flashed_messages(with_categories=true) %}
        <script>
            Toast.fire({
                icon: "{{category}}",
                title: "{{message}}"
            });
        </script>
    {% endfor %}
{% endblock js %}