{% extends "base.html" %}
{% block title %}{{title}}{% endblock title %}
{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock css %}
{% block content %}
<div class="main">
  <img style="z-index: -99; position: absolute; width: 100%; height: 100%; object-fit: cover;" src="{{ url_for('static', filename='images/background.gif')}}">
  <div class="col-10 mx-auto">
    <div class="row no-gutters">
      <div class="col-md-4 border-right mt-5 bg-light rounded">
        <div class="settings-tray">
          <img class="profile-image" src="{{url_for('static', filename=current_user.avatar)}}" alt="Profile img">
          <span class="settings-tray--right">
            <i class="material-icons" onclick="location.reload();">cached</i>
            <i id="dropdown_newchat" class="material-icons" type="button" data-toggle="dropdown">message</i>
            <div class="dropdown-menu col-8">
              <div class="border bg-muted">
                <input id="ip_sfnc" class="form-control" type="text" placeholder="Tên người dùng">
              </div>
              <div id="newchat_search_box">
              </div>
            </div>
            <i class="material-icons" onclick="$('#myModalAddGroupsChat').modal('show')">group_add</i>
            <i class="material-icons">menu</i>
          </span>
        </div>
        <div class="search-box">
          <div class="input-wrapper">
            <i class="material-icons">search</i>
            <input placeholder="Search here" type="text">
          </div>
        </div>
        <div id="conversation_list"> 
          {% for conversation in list_conversation %}
            <div id="c_{{ conversation.conversation_id }}" data-participants="{{json.dumps(conversation.participants)}}" data-type="{{conversation.conversation.type}}" onclick="prepare_change_conversation(this)" data-conversation="{{ conversation.conversation_id }}" class="border-bottom friend-drawer friend-drawer--onhover">
              {% if conversation.conversation.type.lower() == "private" %}
                <img id="conversation_image" class="profile-image" src="{{url_for('static', filename=conversation.participant.user.avatar)}}" alt="">
              {% else %}
                {% if conversation.conversation.avatar %}
                  <img id="conversation_image" class="profile-image" src="{{url_for('static', filename=conversation.conversation.avatar)}}" alt="">
                {% else %}
                  <img id="conversation_image" class="profile-image" src="{{url_for('static', filename='images/default_group.png')}}" alt="">
                {% endif %}
              {% endif %}
              <div class="text">
                {% if conversation.conversation.type.lower() == "private" %}
                  <h6 id="conversation_title">{{ conversation.participant.title }}</h6>
                  <p id="conversation_message" class="text-muted">{{ conversation.message }}</p>
                {% else %}
                  <h6 id="conversation_title">{{ conversation.conversation.title }}</h6>
                  <p id="conversation_message" class="text-muted"><strong>{{ conversation.sender.displayname }}</strong>: {{ conversation.message }}</p>
                {% endif %}
              </div>
              <span id="conversation_time" data-time='{{conversation.message_id.generation_time}}' class="time text-muted small my-auto"></span>
              {% if not conversation.myParticipant.seen %}
              <i id="badge_message" class="fas fa-circle text-danger ml-auto mb-auto"></i>
              {% endif %}
            </div>
          {% endfor %}
        </div>
      </div>
      <div class="col-md-8 mt-5 rounded bg-light">
        <div class="settings-tray rounded">
            <div id="conversation_item" class="friend-drawer no-gutters friend-drawer--grey">
            <img id="chatter_avatar" class="profile-image" src="https://www.clarity-enhanced.net/wp-content/uploads/2020/06/robocop.jpg" alt="">
            <div class="text">
              <h6 id="chatter_displayname">Robo Cop</h6>
              <p id="chatter_status" class="text-muted">Online...</p>
            </div>
            <span class="settings-tray--right">
              <i class="material-icons">cached</i>
              <i class="material-icons">message</i>
              <i onclick="callVideo()" class="material-icons">videocam</i>
              <i class="material-icons" onclick="$('#info_conversation').toggle(200)">menu</i>
            </span>
          </div>
        </div>
        <div class="">
          <div class="d-flex">
            <div class="flex-fill chat-panel" id="message_list">
            </div>
            <div id="info_conversation" class="bg-white border rounded in width multi-collapse col-lg-4 col-sm-6" style="display: none;">
              <div class="text-center my-3">
                <img id="c_info_avatar" class="avatar-circle-lg" src="#">
                <h5 id="c_info_name"></h5>
              </div>
              <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action">
                  Đổi tên đoạn chat
                </a>
                <a href="#" class="list-group-item list-group-item-action" data-toggle="collapse" data-target="#collapseMemberList" aria-expanded="false" aria-controls="collapseMemberList">
                  Thành viên trong đoạn chat
                </a>
                <div class="collapse border rounded" id="collapseMemberList">
                  <div id="list_member_group">
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="chat-box-tray">
                <i class="material-icons">sentiment_very_satisfied</i>
                <input id="message_input" type="text" placeholder="Type your message here...">
                <div class="dropup">
                  <i class="material-icons" data-toggle="dropdown">mic</i>
                  <div class="dropdown-menu">
                    <span class="btn btn-primary" onclick="startRecording()"></span>
                    <span class="btn btn-danger" onclick="stopRecording()"></span>
                    <audio id="player" controls></audio>
                  </div>
                </div>
                <i class="material-icons" onclick="$('#file_attachment').click()">attach_file</i>
                <i onclick="send_message()" class="material-icons">send</i>
                <input id="file_attachment" type="file" class="d-none">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="myModalAddGroupsChat">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
    
      <!-- Modal Header -->
      <div class="modal-header">
        <div class="row">
          <div class="col-xl-12">
            <h3 class="modal-title">Tạo nhóm</h3>
            <button type="button" class="close" style="margin-top: -50px;" onclick="$('#myModalAddGroupsChat').modal('hide')">×</button>
          </div>
          <form id="create_group_form">
            <div>
              <input id="create_group_name" type="text" class="form-control rounded" placeholder="Tên nhóm" required name="name">
            </div>
            <h5 class="mt-2">Danh sách thành viên:</h5>
            <ul class="list-inline" style="margin: 10px 0 0 10px;">
              <li id="creategroup_list_added" class="list-inline-item"> 
              </li>
            </ul>
          </form>
          <div class="col-xl-12" style="margin-top: 10px;">
            <div class="input-group">
              <input id="ip_sfcg" type="search" class="form-control rounded" placeholder="Tìm kiếm theo tên" aria-label="Search"
              aria-describedby="search-addon" />
              <button type="button" class="btn btn-outline-primary"><i class="fa fa-search"></i></button>
            </div>
          </div>
        </div>
      </div>
      
      <!-- Modal body -->
      <div class="modal-body">
        <div class="alert alert-danger d-none" id="empty_friend"> <!-- Nếu k người này chưa kết bạn vs ai thì sẽ k có list friends thì sẽ cho hiện dòng này -->
          <strong>Kết quả tìm kiếm trống!</strong> Bạn nên <a href="#" class="alert-link">tìm kiếm thêm bạn</a>.
        </div>
        <div id="creategroup_list_friend">
        </div>
      </div>
      
      <!-- Modal footer -->
      <div class="modal-footer">
        <button onclick="create_group($('#create_group_form').serialize())" type="button" class="btn btn-success">Tạo group</button>
        <button type="button" class="btn btn-danger" onclick="$('#myModalAddGroupsChat').modal('hide')">Close</button>
      </div>
      
    </div>
  </div>
</div>
{% endblock content %}
{% block js %}
<script src="{{ url_for('static', filename='js/group.js') }}"></script>
<script src="https://momentjs.com/downloads/moment-with-locales.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
<script type="text/javascript" charset="utf-8">
  var spinner = $('<div id="messages_spinner" class="d-flex justify-content-center"><div class="spinner-border" role="status"><span class="sr-only">Loading...</span></div></div>');
  
  var socket = io();
  socket.on('connect', function() {
    console.log("Socket connected");
    socket.on('chat message', (msg) => {
        fresh_conversation(msg);
    });
  });
  $( document ).ready(function() {
    var time_text = $('.time').each(function( index ) {
      let time = moment($( this ).data('time'));
      $(this).text(time.locale('vi').fromNow());
    });
    
    setInterval(function(element) {
      
      var time_text = $('.time').each(function( index ) {
        let time = moment($( this ).data('time'));
        $(this).text(time.locale('vi').fromNow());
      });
    }, 1000*5);

    $('#file_attachment').on("change", function(){ uploadFile(this); });
    $("#ip_sfnc").keyup($.debounce(500, function(e) {
      let search_name = this.value
      sfnc(search_name);
    }));
    $('#dropdown_newchat').on('click', function () {
      let search_name = $("#ip_sfnc").val();
      sfnc(search_name);
    })
    $( "#myModalAddGroupsChat" ).on('show.bs.modal', function(){
      sfcg();
    });
    $("#ip_sfcg").keyup($.debounce(500, function(e) {
      sfcg();
    }));

  });
  function sfcg(){
    let search_name = $("#ip_sfcg").val();
    var list_user = $("#creategroup_list_friend")
    var list_user_added = $("#creategroup_list_added")
    $.ajax({
      url:"/new-chat/friends",
      method:"POST",
      data: {name: search_name},
      success:function(data){ 
          if(data) {
            list_user.empty();
            data = JSON.parse(data);

            if(data.length == 0 ){
              $('#empty_friend').removeClass('d-none');
              return;
            } else {
              $('#empty_friend').addClass('d-none');
            }
            $.each(data, function(i, item) {
              var userData = item['friend_info']
              var user_id = userData['_id']['$oid']
              
              var item = $('<div class="card p-3"></div>')
              var info = $('<div class="d-flex align-items-center"></div>')
              var avatar = $('<div class="image"> <img src="/static/'+userData['avatar']+'" class="rounded" width="100"> </div>')
              var name_tag = $('<div class="ml-3 w-100"></div>')
              var name = $('<h5 class="mb-0 mt-0">'+userData['displayname']+'</h5>')
              var tag = $('<span class="font-italic">@'+userData['username']+'</span>')
              var button = $('<div class="button mt-2 d-flex flex-row align-items-center"><button class="btn btn-sm btn-outline-primary w-100">Thêm</button></div>')
              
              $(button).on("click", function(){
                

                let item = $('<span data-id="'+user_id+'" class="mx-1 my-1 badge badge-pill badge-secondary creategroup_user_added"></div>')
                let avatar = $('<img src="/static/'+userData['avatar']+'" alt="DP" class=" rounded-circle added_cgroup_avatar">')
                let name = $('<span>'+userData['displayname']+'</span>')
                let input = $('<input type="hidden" value="'+user_id+'" name="users[]">')
                let button = $('<button type="button" class="close">×</button>')

                item.append(avatar)
                item.append(name)
                item.append(input)
                item.append(button)
                $(button).on("click", function(){
                  $(item).remove()
                  sfcg();
                })
                list_user_added.append(item)
                $(this).replaceWith($('<div class="button mt-2 d-flex flex-row align-items-center"> <button class="btn btn-sm btn-outline-secondary w-100">Đã thêm</button></div>'))

              })

              $(list_user_added).children().each((index, element) => {
                if($(element).data('id')==user_id) {
                  button = $('<div class="button mt-2 d-flex flex-row align-items-center"> <button class="btn btn-sm btn-outline-secondary w-100">Đã thêm</button></div>')
                  return false;
                }
              })

              item.append(info)
              info.append(avatar)
              info.append(name_tag)
              name_tag.append(name)
              name_tag.append(tag)
              name_tag.append(button)

              list_user.append(item)

            });
          }
      },
      error: function (xhr, ajaxOptions, thrownError) {
          console.log(xhr);
      }
    });

  }
  function sfnc(search_name) {
    
    var list_user = $("#newchat_search_box")
    list_user.append(spinner)
    $.ajax({
      url:"/new-chat/friends",
      method:"POST",
      data: {name: search_name},
      success:function(data){ 
          if(data) {
              
              list_user.empty();
              $.each(JSON.parse(data), function(i, item) {
                var userData = item['friend_info']

                var name = $('<span class="h5">'+userData['displayname']+'</span>')
                var tag = $('<br><span class="h7 font-italic">@'+userData['username']+'</span>')
                var info = $('<div class="ml-2"></div>')
                var avatar = $('<img class="profile-image" src="/static/'+userData['avatar']+'">')
                var user = $('<div class="dropdown-item d-flex user-item"></div>')
                user.append(avatar)
                user.append(info)
                info.append(name)
                info.append(tag)
                list_user.append(user)

                $(user).on("click", function(){
                  
                  user_id = userData['_id']['$oid']

                  $.ajax({
                    url:"/new-chat/friends/"+user_id,
                    method:"POST",
                    success:function(data){ 
                        if(data) {
                          data = JSON.parse(data)

                          var data_conversation = {}
                          data_conversation['id_conversation'] = data['_id']['$oid'];

                          data['participants'].forEach(participant =>{

                            let user_id = participant['user_id']['$oid']

                            if(user_id != current_user_id) {
                              data_conversation['conversation_name'] = participant['title'];
                              data_conversation['img_src'] = '/static/'+participant['user']['avatar']
                              
                            }
                          })
                          change_conversation(data_conversation)

                        }
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        console.log(xhr);
                    }
                  });

                })

              });
          }
      },
      error: function (xhr, ajaxOptions, thrownError) {
          console.log(xhr);
      }
    });
    
  }
  function showImagePreview(element) {
    var src = $(element).attr('src');
    var w = 1280;
    var h = 720;
    var left = (window.screen.width / 2) - ((w / 2) + 10);
    var top = (window.screen.height / 2) - ((h / 2) + 50);
    window.open(src,'_blank',
        "status=no,height=" + h + ",width=" + w + ",resizable=yes,left="
        + left + ",top=" + top + ",screenX=" + left + ",screenY="
        + top + ",toolbar=no,menubar=yes,scrollbars=no,location=no,directories=no").focus();
  }
  function callVideo(){
    var conversation_id = $("#conversation_item").data("conversation");
    send_request("{{ current_user.displayname }} vừa gia nhập phòng gặp mặt.", "join_call_room", conversation_id);

    var w = 1280;
    var h = 720;
    var left = (window.screen.width / 2) - ((w / 2) + 10);
    var top = (window.screen.height / 2) - ((h / 2) + 50);

    window.open('/video-call/'+conversation_id,'_blank',
        "status=no,height=" + h + ",width=" + w + ",resizable=yes,left="
        + left + ",top=" + top + ",screenX=" + left + ",screenY="
        + top + ",toolbar=no,menubar=yes,scrollbars=no,location=no,directories=no").focus();
  }
  function uploadFile(file_input){
    let conversation_id = $("#conversation_item").data('conversation');
    if ($(file_input).get(0).files.length != 0) {
      var formData = new FormData();
      formData.append("file", file_input.files[0]);
      formData.append("message", "");
      var request = new XMLHttpRequest();
      request.open("POST", "/send_file/"+conversation_id);
      request.setRequestHeader("X-CSRFToken", csrftoken);
      request.send(formData);
    }
  }
  function prepare_change_conversation(element){
    var data = {}
    data['conversation_name'] = $(element).find("#conversation_title").text();
    data['img_src'] = $(element).find("#conversation_image").attr("src");
    data['id_conversation'] = $(element).data("conversation");
    data['participants'] = $(element).data('participants')

    $(element).find("#badge_message").addClass("d-none");
    $(element).find("#conversation_message").removeClass("font-weight-bold");

    change_conversation(data);
  }
  function change_conversation(data){
    $('#info_conversation').hide(50)
    
    let conversation_name = data['conversation_name']
    let img_src = data['img_src']
    let id_conversation = data['id_conversation']
    let participants = data['participants']

    $("#message_list").css('background-image', 'url('+img_src+')');

    $("#chatter_displayname").text(conversation_name);
    $("#chatter_avatar").attr("src", img_src);
    $("#message_list").append(spinner);
    $("#conversation_item").data("conversation", id_conversation);
    
    $('#c_info_avatar').attr("src", img_src)
    $('#c_info_name').text(conversation_name);


    let list_member_group = $('#list_member_group')
    $('#list_member_group').empty()
    participants.forEach(participant => {
      console.log(participant)
      let member = $('<div class="ml-1 mt-1 d-flex" data-id="'+participant['user']['_id']['$oid']+'"></div>')
      let avatar = $('<img class="avatar-circle mr-1" src="/static/'+participant['user']['avatar']+'">')
      let name = $('<h7 class="font-weight-bold">'+participant['title']+'</h7>')
      let join_by = $('<p class="join-by font-weight-light font-italic">'+participant['join_by']+'</p>')
      let info = $('<div></div>')

      member.append(avatar)
      member.append(info)

      info.append(name)
      info.append(join_by)
      list_member_group.append(member)
    }) 

    $.ajax({
      url:"/get_messages/"+id_conversation,
      method:"POST",
      success:function(data){ 
          if(data) {
              $("#message_list").empty();
              var element = $("#message_list");
              $.each(JSON.parse(data), function(i, item) {
                prepend_message(item);
              });
          }
      },
      error: function (xhr, ajaxOptions, thrownError) {
          console.log(xhr);
      }
    });


  }
  function prepend_message(data) {
    let message = data['message'];
    let chat_bubble_direction, offset
    if(data.sender_id['$oid'] == current_user_id) {
      chat_bubble_direction = "chat-bubble--right"
      offset = "ml-auto"
    } else {
      chat_bubble_direction = "chat-bubble--left"
    }

    let item = $('<div class="row no-gutters" data-toggle="tooltip" data-placement="top" title="'+dateFromObjectId(data._id['$oid'])+'"><div id="offset" class="d-flex '+offset+'"><div id="bubble" class="chat-bubble '+chat_bubble_direction+' '+offset+'">'+message+'</div></div></div>');
    if(data.sender_id['$oid'] != current_user_id) {
      let avatar = $('<div class="my-auto"><img class="avatar-circle" src="/static/'+data.sender.avatar+'"></div>')
      $(item).find("#offset").prepend(avatar);
    }
    if(data.message_type == 'has_attachment') {
      
      let attachment = render_attachment(data.attachment);
      $(item).find('#bubble').append(attachment);
      if(isBlank(message)) {
        $(item).find("br").remove();
      }
    }
    
    if(data.message_type == 'join_call_room') {
      let joinLink = $('<br><button style="font-size: 0.9rem" onclick="callVideo();" class="btn btn-danger text-upper"><i class="fas fa-video mr-2"></i>Nhấp vào đây để tham gia</button>')
      $(item).find('#bubble').append(joinLink);
    }

    $("#message_list").prepend(item)
    $('#message_list').scrollTop($('#message_list')[0].scrollHeight);
  }
  function append_message(data) {
    let message = data['message'];
    let chat_bubble_direction, offset
    if(data.sender_id['$oid'] == current_user_id) {
      chat_bubble_direction = "chat-bubble--right"
      offset = "ml-auto"
    } else {
      chat_bubble_direction = "chat-bubble--left"
    }
    let item = $('<div class="row no-gutters" data-toggle="tooltip" data-placement="top" title="'+dateFromObjectId(data._id['$oid'])+'"><div id="offset" class="d-flex '+offset+'"><div id="bubble" class="chat-bubble '+chat_bubble_direction+' '+offset+'">'+message+'</div></div></div>');
    if(data.sender_id['$oid'] != current_user_id) {
      let avatar = $('<div class="my-auto"><img class="avatar-circle" src="/static/'+data.sender.avatar+'"></div>')
      $(item).find("#offset").prepend(avatar);
    }
    if(data.message_type == 'has_attachment') {
      let attachment = render_attachment(data.attachment);
      $(item).find('#bubble').append(attachment);
      
      if(isBlank(message)) {
        $(item).find("br").remove();
      }
    }
    if(data.message_type == 'join_call_room') {
      let joinLink = $('<br><button style="font-size: 0.9rem" onclick="callVideo();" class="btn btn-danger text-upper"><i class="fas fa-video mr-2"></i>Nhấp vào đây để tham gia</button>')
      $(item).find('#bubble').append(joinLink);
    }

    $("#message_list").append(item);
    $('#message_list').scrollTop($('#message_list')[0].scrollHeight);
  }
  function render_attachment(data) {
    let type = data.file_extention;
    var attachment;
    if (["png", "jpg", "gif", "jpeg"].some(v => type.includes(v))) {
      attachment = $('<span><br><img onclick="showImagePreview(this)" class="attachment-image" src='+data.file_path+' alt="Image"></span>')
    }
    else if (["mp4", "avi", "m4v"].some(v => type.includes(v))) {
      attachment = $('<br><video  width="320" height="240" controls><source src="'+data.file_path+'">Your browser does not support the video tag.</video>')
    }
    else if (["mp3", "mpa", "wav"].some(v => type.includes(v))) {
      attachment = $('<br><audio controls><source src="'+data.file_path+'">Your browser does not support the audio element.</audio>')
    }
    else {
      let icon = "";
      switch(type) {
        case ".docx":
          icon = "-word"
          break;
        case ".doc":
          icon = "-word"
          break;
        case ".pptx":
          icon = "-powerpoint"
          break;
        case ".pdf":
          icon = "-pdf"
          break;
        case ".xlsx":
          icon = "-excel"
          break;
        case ".rar":
          icon = "-archive"
          break;
        case ".zip":
          icon = "-archive"
          break;
        case ".txt":
          icon = "-alt"
          break;
        default:
      }
      let iconElement = $('<i class="fas fa-file'+icon+'"></i>')
      attachment = $('<span><br><a target="_blank" href="'+data.file_path+'" class="file-text text-decoration-none"> '+data.file_name+data.file_extention+'</a></span>');
      attachment.find('a').prepend(iconElement);
    }
    return attachment;
  }
  function append_conversation_to_list(msg){
    let new_conversation = $('<div id="c_'+msg.conversation_id['$oid']+'" data-participants=\''+JSON.stringify(msg['participants'])+'\' data-type="'+msg['conversation']['type']+'" onclick="prepare_change_conversation(this)" data-conversation="'+msg.conversation_id['$oid']+'" class="border-bottom friend-drawer friend-drawer--onhover"></div')
    if(msg['conversation']['type'] == "private"){
      let cvs_avatar, cvs_title;
      if(current_user_id != msg['sender']['_id']['$oid']) {
        cvs_avatar = "static/"+msg['sender']['avatar']
        cvs_title = msg['sender']['displayname']
      } else {
        msg['participants'].forEach(participant => {
          if(participant['user_id']['$oid'] != current_user_id) {
            cvs_title = participant['title']
            cvs_avatar = 'static/'+participant['user']['avatar']
          }
        })
      }

      var avatar = $('<img id="conversation_image" class="profile-image" src="'+cvs_avatar+'" alt="">')
      var title = $('<h6 id="conversation_title">'+cvs_title+'</h6>')
    } else {
      let cvs_avatar = msg['conversation']['avatar']
      let cvs_title = msg['conversation']['title']
      if(!cvs_avatar) {
        cvs_avatar = "images/default_group.png"
      }
      var avatar = $('<img id="conversation_image" class="profile-image" src="static/'+cvs_avatar+'" alt="">')
      var title = $('<h6 id="conversation_title">'+cvs_title+'</h6>')
    }
    let new_message = $('<div class="text"></div>')
    new_message.append(title)
    new_message.append($('<p id="conversation_message" class="text-muted"></p>'))
    
    new_conversation.append(avatar)
    new_conversation.append(new_message)
    new_conversation.append($('<span id="conversation_time" class="time text-muted small my-auto"></span>'))
    new_conversation.append('<i id="badge_message" class="fas fa-circle text-danger ml-auto mb-auto"></i>')
    $("#conversation_list").append(new_conversation);
    return new_conversation
  }
  function fresh_conversation(msg){
    console.log("new message:")
    console.log(msg)

    let conversation = $("#conversation_list").find("#c_"+msg.conversation_id['$oid']);
    if(conversation.length==0) {
      conversation = append_conversation_to_list(msg)
    }

    conversation.find("#conversation_message").text(msg.message)

    let time = moment(dateFromObjectId(msg._id['$oid']));
    conversation.find("#conversation_time").text(time.locale('vi').fromNow());
    conversation.find("#conversation_time").data('time', dateFromObjectId(msg._id['$oid']));

    $("#conversation_list").prepend(conversation)

    if($("#conversation_item").data("conversation") == msg.conversation_id['$oid']){
        append_message(msg);
    } else {
      
      if(msg.sender_id['$oid'] != current_user_id) {
        $("#conversation_list").find("#c_"+msg.conversation_id['$oid']).find("#conversation_message").addClass("font-weight-bold");
        $("#conversation_list").find("#c_"+msg.conversation_id['$oid']).find("#badge_message").removeClass("d-none");
      }
    }
  }
  function send_request(message, type, conversation_id){
    
    $.ajax({
      url:"/send_message/"+conversation_id,
      method:"POST",
      data: {"message": message, "type": type},
      success:function(data){ 
          if(data) {
              console.log(data)
          }
      },
      error: function (xhr, ajaxOptions, thrownError) {
          console.log(xhr);
      }
    });


    $("#message_input").val("");
  }
  function send_message(){
    let conversation_id = $("#conversation_item").data("conversation");
    var data = [];
    data['message'] = $("#message_input").val();
    data['sender_id'] = [];
    data['sender_id']['$oid'] = current_user_id;
    
    $.ajax({
      url:"/send_message/"+conversation_id,
      method:"POST",
      data: {"message": data['message']},
      success:function(data){ 
          if(data) {
              console.log(data)
          }
      },
      error: function (xhr, ajaxOptions, thrownError) {
          console.log(xhr);
      }
    });


    $("#message_input").val("");
  }
</script>
{% endblock js %}